{% extends 'layout.html' %}

{% block title %}DashBoard{% endblock %}

{% block customCSS %}
   
{% endblock %}

{% block body %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Inicio</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
    </div>
  </section>

</main><!-- End #main -->


{% endblock %}