{% extends 'layout.html' %}

{% block title %}Perfil{% endblock %}

{% block customCSS %}  {% endblock %}

{% block body %}

<main id="main" class="main">

    <!-- Titulo -->
    <div class="pagetitle">
        <h1>Mi Perfil</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
            <li class="breadcrumb-item active">Perfil</li>
          </ol>
        </nav>
    </div>
    
    <!-- Funciones con Perfil -->
    <section class="section contact">
      <div class="row gy-4">
        <div class="col-xl-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-geo-alt"></i>
                <h3>Dirección</h3>
                <p>A108 Adam Street,<br>New York, NY 535022</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-whatsapp"></i>
                <h3>Teléfono</h3>
                <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-envelope"></i>
                <h3>Email</h3>
                <p>info@example.com<br>contact@example.com</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-clock"></i>
                <h3>Horarios</h3>
                <p>Lunes - Viernes<br>17:00 - 20:00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>

{% endblock %}