{% extends 'layout.html' %}

{% block title %}Perfil{% endblock %}

{% block customCSS %}  {% endblock %}

{% block body %}

<main id="main" class="main">

    <!-- Titulo -->
    <div class="pagetitle">
      <h1>Mi Perfil</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
            <li class="breadcrumb-item active">Perfil</li>
          </ol>
        </nav>
    </div>
    
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <img src="static/img/avatar.jpg" alt="Profile" class="rounded-circle">
              <h2>Fernando Iván Aguirre</h2>
              <h3>Médico</h3>
              <div class="social-links mt-2">
                <a href="https://es-la.facebook.com/" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://twitter.com/home" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8">
          <div class="card">
            <div class="card-body pt-3">
              <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Vista previa</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar contraseña</button>
                </li>
              </ul>
              <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Perfil</h5>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Nombre completo</div>
                    <div class="col-lg-9 col-md-8">Fernando Iván Aguirre</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Trabajo</div>
                    <div class="col-lg-9 col-md-8">Anestesista, Médico Clínico, Personal Trainer, Ciclista</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">País</div>
                    <div class="col-lg-9 col-md-8">Argentina</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Domicilio</div>
                    <div class="col-lg-9 col-md-8"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Teléfono</div>
                    <div class="col-lg-9 col-md-8">(3532) 1234567</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">micorreo@gmail.com</div>
                  </div>

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <form>
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña actual</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nueva Contraseña</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Ringresar nueva contraseña</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Aceptar cambio</button>
                    </div>
                  </form>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

</main>

{% endblock %}