{% extends 'layout.html' %}

{% block title %}Planes{% endblock %}

{% block customCSS %}  
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main id="main" class="main">
        
        <div class="pagetitle">
            <h1>Planes</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('clientes')}}">Pacientes</a></li>
                    <li class="breadcrumb-item active">Planes</li>
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row">
                {% with error = get_flashed_messages(category_filter = ["error"]) %}
                    {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="bi bi-exclamation-octagon me-1"></i>
                        {% for message in error %}
                            {{ message }}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                {% endwith %}
                {% with success = get_flashed_messages(category_filter =["success"]) %}
                    {% if success %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-exclamation-octagon me-1"></i>
                        {% for message in success %}
                            {{ message }}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                {% endwith %}
                <!--Listado de Planes -->    
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Listado de Planes</h5>
                            <table id="lstPlanes" name = "lstPlanes" class="table table-striped" style="width:100%">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Titulo</th>
                                        <th>Tipo</th>
                                        <th>Vigente</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for plan in planes %}
                                    <tr>
                                        <td>{{ plan.id }}</td>
                                        <td>{{ plan.titulo }}</td>
                                        <td>{{ plan.tipo }}</td>
                                        {% if plan.vigente == "1" %}
                                        <td> SI </td>
                                        {% endif %}
                                        {% if plan.vigente == "0" %}
                                        <td> NO </td>
                                        {% endif %}
                                        <td>
                                            <a class="btn btn-outline-dark" href="{{ url_for('editaPlan', id = plan.id) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="bi bi-pen"></i></a>
                                            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#eliminarPlan"><i class="bi bi-journal-x"></i></button>
                                            <div class="modal fade" id="eliminarPlan" tabindex="-1" data-bs-backdrop="false">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title">Eliminar Plan</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Está seguro que desea eliminar la Plan?
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">No</button>
                                                      <a type="button" class="btn btn-outline-success" href="#">Si</a>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                    <th>#</th>
                                    <th>Titulo</th>
                                    <th>Tipo</th>
                                    <th>Vigente</th>
                                    <th>Acciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- ABM -->    
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nuevo Plan</h5>
                            <form class="row g-3" method="POST" action="/nuevoPlan">
                                <div class="col-md-8">
                                    <div class="form-floating">
                                        <input id="txtTitulo" name ="txtTitulo" type="text" class="form-control" placeholder="Título" required>
                                        <label for="txtTitulo">Título</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <select id="cmbTipo" name="cmbTipo" class="form-select">
                                            <option selected="Gimnasio">Gimnasio</option>
                                            <option value="Nutricional">Nutricional</option>
                                            <option value="Deportiva">Deportiva</option>
                                        </select>
                                        <label for="cmbTipo">Tipo</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <select id="cmbVigente" name="cmbVigente" class="form-select">
                                            <option selected="1">SI</option>
                                            <option value="0">NO</option>
                                        </select>
                                        <label for="cmbVigente">Tipo</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <textarea id="txtDetalle" name="txtDetalle" class="form-control" style="height: 200px;" placeholder="Detalle"></textarea>
                                        <label for="txtDetalle">Detalle</label>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                    </div>  
                                    <div class="col-md-6" align="right">
                                        <button type="submit" class="btn btn-outline-success">Guardar</button>
                                        <button type="reset" class="btn btn-outline-warning">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>

{% block customScripts %}
    <script src ="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src ="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src ="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#lstPlanes').DataTable();
      });
    </script>
  {% endblock %}

{% endblock %}