{% extends 'layout.html' %}

{% block title %}Visualizar Pacientes{% endblock %}

{% block customCSS %}  
{% endblock %}

{% block body %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Pacientes</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('index')}}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('clientes')}}">Pacientes</a></li>
          <li class="breadcrumb-item active">Visualizar Paciente</a></li>
        </ol>
      </nav>
    </div>    
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle me-1"></i>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% endwith %}

    <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Visualizar Paciente</h5>
              <form class="row g-3" method="POST" action="{{url_for('editacliente', id = cliente.id)}}">
                <div class="col-md-4">
                  <div class="form-floating">
                    <input id="txtNombre" name ="txtNombre" type="text" class="form-control" placeholder="Nombre" value="{{cliente.nombre}}" disabled>
                    <label for="txtNombre">Nombre</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input id="txtApellido" name="txtApellido" type="text" class="form-control" placeholder="Apellido" value="{{cliente.apellido}}" disabled>
                    <label for="txtApellido">Apellido</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating has-validation">
                    <input id="txtDocumento" name ="txtDocumento" type="text" class="form-control" placeholder="Documento" value="{{cliente.documento}}" disabled>
                    <label for="txtDocumento">Documento</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-floating">
                    <input id="dtNacimiento" name ="dtNacimiento" type="date" class="form-control" placeholder="Nacimiento" value="{{cliente.nacimiento}}" disabled> 
                    <label for="dtNacimiento">Nacimiento</label>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-floating">
                    <input id="txtEmail" name ="txtEmail" type="email" class="form-control" placeholder="Email" value="{{cliente.email}}" disabled>
                    <label for="txtEmail">Email</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input id="txtTelefono" name ="txtTelefono" type="text" class="form-control" placeholder="Teléfono" value="{{cliente.telefono}}" disabled>
                    <label for="txtTelefono">Teléfono</label>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-floating">
                    <input id="txtDireccion" name="txtDireccion" type="text" class="form-control" placeholder="Dirección" value="{{cliente.direccion}}" disabled>
                    <label for="txtDireccion">Dirección</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-floating">
                    <input id="txtLocalidad" name="txtLocalidad" type="text" class="form-control" placeholder="Localidad" value="{{cliente.localidad}}" disabled>
                    <label for="txtLocalidad">Localidad</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input id="txtProvincia" name="txtProvincia" type="text" class="form-control" placeholder="Provincia" value="{{cliente.provincia}}" disabled>
                    <label for="txtProvincia">Provincia</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-floating">
                    <input id="txtPeso" name="txtPeso" type="number" class="form-control" placeholder="Peso" value="{{cliente.peso}}" disabled>
                    <label for="txtPeso">Peso (kg)</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-floating">
                    <input id="txtAltura" name="txtAltura" type="number" class="form-control" placeholder="Altura" value="{{cliente.altura}}" disabled>
                    <label for="txtAltura">Altura (cm)</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input id="txtObraSocial" name="txtObraSocial" type="text" class="form-control" placeholder="Obra Social" value="{{cliente.obraSocial}}" disabled>
                    <label for="txtObraSocial">Obra Social</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input id="txtNroAfiliado" name="txtNroAfiliado" type="text" class="form-control" placeholder="Nro. Afiliado" value="{{cliente.nroAfiliado}}" disabled>
                    <label for="txtNroAfiliado">Nro. Afiliado</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <select id="cmbTipoPaciente" name="cmbTipoPaciente" class="form-select" value="{{cliente.tipoCliente}}" disabled>
                      <option selected="{{cliente.tipoCliente}}">{{cliente.tipoCliente}}</option>
                    </select>
                    <label for="cmbTipoPaciente">Tipo</label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-floating">
                      <select id="cmbVigente" name="cmbVigente" class="form-select" value="{{cliente.vigente}}" disabled>
                          <option selected="{{cliente.vigente}}">{{cliente.vigente}}</option>
                      </select>
                      <label for="cmbVigente">Vigente</label>
                  </div>
                <div class="row g-3">
                  <div class="col-md-6">
                  </div>  
                  <div class="col-md-6" align="right">
                      <a href="{{url_for('clientes')}}" class="btn btn-outline-primary">Regresar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>  
    </section>

    <section class="section">
      <div class="row">
        <!--Planes-->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Planes asociadas</h5>
            </div>
          </div>
        </div>
        <!--Documentos-->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Documentos asociados</h5>
            </div>
          </div>
        </div>
      </div>
    </section>


  </main>

  {% block customScripts %}
    <script src ="https://code.jquery.com/jquery-3.5.1.js"></script>
  {% endblock %}
{% endblock %}